* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #c7e5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#ans {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.choice {
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 0.3s;
}

.option_index {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4498e2;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 20px 0 20px 0;
}

.answer {
  padding: 0px 20px;
  font-size: 1rem;
}

.choice:hover {
  width: 550px;
  box-shadow: 3px 3px 5px #999999;
}

#score_Card {
  position: absolute;
  right: 10vw;
  top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#score_Card {
  font-size: 1.5rem;
}

#score {
  color: #4498e2;
  font-size: 3rem;
  font-weight: bold;
}

#progress_bar {
  position: absolute;
  left: 10vw;
  top: 15vh;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}

#progress_box {
  height: 35px;
  width: 200px;
  border: 3px solid #4498e2;
  border-radius: 20px;
}

#progress {
  height: 100%;
  width: 0px;
  background-color: #4498e2;
  border-radius: 20px;
  transition: all 0.5s;
}

button {
    border: none;
}

button:disabled {
    color: rgb(92, 92, 92);
}

#timer_box {
    margin-bottom: 150px;
    color: #4498e2;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
